.container {
	color: black;
	margin: 0 10% 0 10%;

}

.container h2 {
	color: white;
}

.ulContainer {
	list-style-type: none;
	border: solid 2px darkgray;
	padding: 0;
	background-color: var(--bright-bg-color);
	border-radius: 8px;
}

.ulContainer h3 {
	color: black;
}

.ulContainer li {
	padding: 2rem;
	border-bottom: solid 1px darkgray;
	display: flex;
	align-items: center;
	height: 80px;
	/* width: 100%; */
}

.imgContainer {
	border: solid 2px darkgray;
	border-radius: 6px;
	width: 90px;
	height: 100%;
	margin-right: 3rem;
	display: flex;
	place-items: center;
	background-color: white;
	padding: 0.5rem;
}

.imgContainer img {
	object-fit: contain;
	width: 100%;
}

.itemText {
	display: flex;
	justify-content: space-between;
	width: 100%;
	/* border: solid red; */
}

.itemText span {
	/* padding: 3rem; */
	text-align: start;
	/* border: solid blue; */
}

.itemQty {
	width: 15%;
	text-align: start;
}

.itemQty strong {
	margin-right: 1rem;
}

.ulResumen {
	color: black;
	/* display: flex; */
	/* flex-direction: column; */
	text-align: end;
	padding: 2rem;
	font-size: 1.3rem;
}

.ulResumen button {
	display: block;
	margin-top: 20px;
	margin-left: auto;
}

h3 {
	padding: 0;
}

.buttonDelete {
	color: var(--danger-color);
	font-size: 1.2rem;
	cursor: pointer;
}