.container {
	color: black;
	margin: 0 10% 0 10%;

}

.container h2 {
	color: white;
}

.ulContainer {
	list-style-type: none;
	border: solid 2px darkgray;
	padding: 0;
	background-color: var(--bright-bg-color);
	border-radius: 8px;
}

.ulContainer h3 {
	color: black;
}

.container h3 {
	padding: 20px 0;
}

.ulContainer li {
	padding: 2rem;
	border-bottom: solid 1px darkgray;
	display: flex;
	align-items: center;
	height: 80px;
}

.imgContainer {
	border: solid 2px darkgray;
		height: 60px;
	border-radius: 6px;
	width: 90px;
	margin-right: 3rem;
	display: flex;
	background-color: white;
	padding: 0.5rem;
}

.image{
	object-fit: contain;
	object-position: center !important;
	width: 100%;
	cursor: pointer;
}

.itemText {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.itemText span {
	text-align: start;
}

.itemQty {
	width: fit-content;
	text-align: start;
}

.itemQty strong {
	margin-right: 0.3rem;
}

.ulResumen {
	color: black;
	text-align: end;
	padding: 2rem;
	font-size: 1.3rem;
}

.ulResumen button {
	display: block;
	margin-top: 20px;
	margin-left: auto;
}

h3 {
	padding: 0;
}

.buttonDelete {
	color: var(--danger-color);
	font-size: 1.2rem;
	cursor: pointer;
	margin-left: 0.5rem;
}

a {
	text-decoration: none;
}

li * {
	display: flex;
	align-items: center;
}

@media (max-width: 700px) {
	.imgContainer {
	margin-right: 1rem;
	}
	
	.container {
		margin-inline: 5%;
	}

	.ulContainer li {
		padding: 1rem;
	}

	
}