.FaShoppingCart {
	display: flex;
	align-content: center;
	justify-content: center;
	font-size: 1.5rem;
	color: hsl(220, 55%, 16%);
	cursor: pointer;
}

.cartCount {
	text-decoration: none;
	background-color: red;
	color: white;
	border-radius: 50%;
	padding: 0.2rem 0.3rem;
	display: flex;
	place-content: center;
	top: 10px;
	right: -20px;
	border: none;
	font-size: 0.8rem;
	position: relative;
	/* font-weight: 700; */
}

button {
	background: none;
	border: none;
	position: relative;
}