.card {
	background-color: white;
	border-radius: 5px;
	padding: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.itemThumbnail {
	display: flex;
	justify-content: center;
}

.itemThumbnail img {
	object-fit: contain;
	width: 100%;
}