* {
	box-sizing: content-box;
}

.card {
	background-color: white;
	border-radius: 5px;
	padding: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	opacity: 0.90;
	transition: all 800ms;
}

.card:hover {
	opacity: 1;
	transition: all 800ms;
}

.itemThumbnail {
	display: flex;
	justify-content: center;
}

.itemThumbnail img {
	object-fit: contain;
	width: 100%;
}