h3 {
	color: var(--bright-bg-color);
	padding: 0 20px;
	margin: 0;
}

.itemCountWrapper {
	margin: auto;
	margin-top: 1rem;
	gap: 1rem;
	padding: 1rem 0;
	border: solid 1px darkgray;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	width: 100%;
	max-width: 400px;
}

.itemCountWrapper h2 {
	color: white;
	display: flex;
	font-size: 1.5rem;
	margin-inline: 1rem;
	padding: 0;
}

.counter {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-inline: 1rem;
	padding: 0;
}

.btnCount {
	margin: 0;
	font-size: 1.3rem;
	color: rgb(229, 169, 30);	
}

.btnAdd {
	width: 10rem;
	padding-inline: 1rem;
}

@media (max-width: 600px){
	.itemCountWrapper{
		flex-direction: column;
		width: 90%;
	}	
}