h2 {
	color: white;
}

h3 {
	display: inline-block;
	color: white;
	padding: 20px;
}

.itemCountWrapper {
	margin: auto;
	margin-top: 1rem;
	border: solid 3px hsl(220, 55%, 16%);
	border-radius: 4px;
	display: flex;
	align-items: center;
	flex-direction: row;
	width: 80%;
}

.itemCountWrapper button {
	margin: 1rem;
	height: 2rem;
}

#addBtn {
	width: 10rem;
	/* height: 3rem; */
}