	.gridContainer {
		display: grid;
		grid-template-columns: 1fr;
		justify-items: center;
		gap: 2rem;
	}

	h1 {
		color: white;
		font-family: var(--condensed-font);
	}

	@media (min-width: 800px) {
		.gridContainer {
			grid-template-columns: 1fr 1fr;
		}
	}

	@media (min-width: 1100px) {
		.gridContainer {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}